<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/popper.js/dist/umd/popper.min.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- <script src="lib/angular/angular.min.js"></script> -->

</head>
<body>
	<div class="container-fluid pt-1 pb-3 pl-0 pr-0">
		<nav class="navbar navbar-light bg-dark">
			<a class="navbar-brand text-white" href="#">
				<img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
				Cuong Mean Web
			</a>
			<div class="row">
				<% if ( user ) { %>
					<h1> Hello <%= JSON.parse(user).fullName%></h1>
					<a href="/signout" class="btn text-white">Sign out</a>
				<% } else { %>
					<a href="/signup" class="btn text-white">Signup</a>
					<a href="/signin" class="btn text-white">Signin</a>
				<% } %>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
				</div>
			</div>

		</nav>
	</div>
	<section ng-view></section>

		<!-- Render AngularJS views  -->
	<script type="text/javascript">

		window.user= <%- user || 'null'%>;
		console.log(window);
	</script>

	<!-- load example view -->
	<section ng-include="'example/views/example.client.view.html'"></section>

	<div class="col">
		<div class=" row justify-content-center">
			<p>Login or Register with:</p>
		</div>
		<div class=" row justify-content-center">
			<a href="/oauth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
			<a href="/oauth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
		</div>
	</div>

	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<!-- Load the example module -->
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
	<!-- bootstrap angularjs application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>

<!-- side note: main page for my web site-->
